.list_heading{
    text-align: center;
    margin-bottom: 1rem;
    @media only screen and (max-width:900px){
        font-size: 14px;
     }
}

.ipo_listing_table{
    width: 80vw;
    margin: auto;
    border: 1px solid darkgray;
    border-radius: 12px;
    border-collapse: collapse;
    th{
        padding: 1rem;
        background: #F4F4F5;
        text-align: left;
        font-weight: 500;
        color:#7D7782;
        @media only screen and (max-width:900px){
            font-size: 12px;
         }
    }
  
    td{
        padding: 0.8rem;
        @media only screen and (max-width:700px){
            padding: 5px;
         }
    }

    .stock_row:not(:last-child){
        border-bottom: 1px solid #F4F4F5;
    }

    .stock_row{
        cursor: pointer;
        &:hover{
            background-color: lightyellow;
        }
    }

    .company_issue_date_heading{
        width: 30%;
        @media only screen and (max-width:700px){
            width: 40%;
         }
    }

    .issue_size_heading{
        text-align: center;
        @media only screen and (max-width:900px){
            display: none;
         }
    }

    .company_date_logo{
        display: flex;
        align-items: center;
        .company_logo{
            max-width: 50px;
            max-height: 50px;
            min-width: 50px;
            min-height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 50%;
            border:0.5px solid lightgray;
            background: lightblue;
            @media only screen and (max-width:900px){
               display: none;
            }
        }
    }

    .company_date{
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        @media only screen and (max-width:900px){
            padding-left: 6px;
         }
        .company_name{
            font-weight: 600;
            font-size: 18px;
            margin: 0;
            @media only screen and (max-width:900px){
                font-size: 12px;
             }
        }
        .issue_date{
            color: #807D89;
            @media only screen and (max-width:900px){
                font-size: 10px;
             }
        }
    }
    .issue_size,.price_range{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        @media only screen and (max-width:900px){
            font-size: 12px;
         }
    }

    .issue_size{
        @media only screen and (max-width:900px){
            display: none;
         }
    }
    .issue_date{
        color: #807D89;
    }

    .min_inv{
        font-weight: 600;
        font-size: 18px; 
        text-align: center;
        @media only screen and (max-width:900px){
            font-size: 12px;
         }
    }

    .size_lots_ctn{
        display: flex;
        flex-direction: column; 
        margin: auto;
        width: fit-content;
        @media only screen and (max-width:900px){
            font-size: 10px;
         }
    }
}
