.ipo_details{
    padding: 1.2rem;
    border: 2px solid #e4e5ed;
    border-radius: 1rem;
    @media only screen and (max-width:900px){
        border: none;
        padding: 0;
    }
}

.details_ctn{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e4e5ed;
    border-radius: 1rem;
    padding: 1.2rem;
    @media only screen and (max-width:900px){
        margin-top: 1rem;
    }
    @media only screen and (max-width:900px){
        justify-content: space-between;
        padding: 0.5rem;
        padding-top: 1rem;
    }
    .detail_div{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        min-width: 25%;
        margin-bottom: 1rem;
        @media only screen and (max-width:900px){
         min-width: 130px;
         /* flex: 1; */
         .title{
            font-size: 12px;
         }
        }
        .title{
            font-size: 14px;
            color:#7D7782;
            @media only screen and (max-width:900px){
                   font-size: 12px;
            }
        }
        .detail_data{
            margin: 0;
            font-size: 16px;
            @media only screen and (max-width:900px){
                font-size: 13px;
         }
        }
    }
}